// Specific CSS for your home-page
#homePage {
  #carouselBanner {
    img {
      width: 100vw;
    }
  }
  .header {
    .title{
      h1 {
        font-size: 36px;
      }
      i {
        font-size: 34px;
      }
    }
    i {
      color: $primary;
    }
  }
  .container-carousel {
    margin-top: 24px;
  }
}
