<div id="editEvent">
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="d-none d-lg-block col-md-5">
        <div class="image"><%= image_tag "create_ticket.png", class: "img-fluid" %></div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="form">
          <div class="">
            <%= link_to my_events_path do %>
              <i class="fa-solid fa-arrow-left"></i>
              Volver a mis eventos
            <% end %>
          </div>
          <h1 class="my-3 fw-bold">Editar evento</h1>
          <div class="card-form">
            <%= render 'form', event: @event %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
