#editEvent {
  position: relative;
  overflow: hidden;
  background: #f1f6f5;
  .image {
    text-align: center;
      img {
        filter: drop-shadow(2px 4px 6px black);
        margin: auto;
        max-width: 400px;
      }
  }

  .form {
    background: $white;
    border-radius: 16px;
    padding: 32px;
    max-width: 650px;
    margin: auto;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    .form-label {
      font-weight: 600;
    }
  }
}
