#categoryCarousel {
  max-width: 800px;
  margin: auto;
  .splide__track {
    min-height: 90px;
  }
  .splide__slide img {
    width: 24px !important;
  }
  .splide__arrow--next {
    right: -60px;
  }
  .splide__arrow--prev {
    left: -60px;
  }
}
