<div class="container">
  <h1>My Orders</h1>
  <div class="cards">
    <% @orders.each do |order| %>
    <div class="card">
      <h5><%= order.event.name %></h5>
      <%= link_to order_path(order.event_id, order.id) do %>
        <i class="fa-solid fa-eye text-dark"></i>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
