<div class="container">
  <div class="container">
  <h3>"<%= @event.name %>"</h3>
  <div>
    <p>Fecha</p>
    <p><%= @event.date %></p>
  </div>
  <div>
    <h4>Entradas</h4>
  <%= render 'form', event: @event, order: @order %>
    </div>
</div>
<div class="container">
  <p><strong><%= @event.location %></strong></p>
</div>
</div>
