.card {
  &.card-event {
    border-radius: 8px;
    border: none;
    overflow: hidden;
    background-color: white;
    img {
      max-height: 204px;
    }
    .card-body {
      padding: 24px;
      font-size: 18px;
      .title {
        height: 42px;
      }
    }
  }
}

.card_sold {
  padding: 12px;
  margin-bottom: 24px;
  .text-truncate-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 256px;
  }
}
